:root {
    --base: #26CDCD;
    --spacing: 10px;
    --blur: 0px;
}

body {
    text-align: center;
    background-color: #2b2b2b;
    color: #fff;
    font: 100 50px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    width:100px;
}

img {
      padding: var(--spacing);
      background: var(--base);
      filter: blur(var(--blur));
}

.controls {
    margin-bottom: 50px;
}

.hl {
    color: var(--base);
}